.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2b2b;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 15px;
    transition: all 0.5s ease;
    background: #2c2b2b;
}

a:hover{
    border-bottom: 1px solid white;
}

footer{
    margin-top: auto;
    width: 100%;
    height: 125px;
    background: #2c2b2b;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 50px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    align-content: center;
}

span{
    width: 50px;
    height: 50px;
    background: white;
}

.active{
    color: blue;
}